numpy
scipy
matplotlib
simpy
jupyter
pandas
statsmodels
django
flask
pyqt5
requests
scrapy
pendulum
seaborn
scikit-learn
pyserial
plotly
bokeh
ipython
pyflux
opencv-python
pygame
pillow
paramiko
fabric
